<h1 style="display:flex; justify-content:center; text-align:center">Space Articles</h1>
<ul style="list-style-type: none; color:blue, display:flex; justify-content:center; text-align:center">
  <%@articles.each do|article|%>
    <li style="color: blue"> <%= article.title %> <%style="text-decoration: none"%> </li>
  <% end %>
</ul>

<%= link_to "Add a new article", articles_new_path %>
