<h1 style="color:red; font-size:25px; display:flex; justify-content:center; text-align:center"> <%= @article.title %></h1>
<%= link_to "Edit", edit_article_path(@article.id) %>
<%= link_to "Back to list", articles_path %>

